{% comment %} Translations {% endcomment %}
{% assign add_to_cart_t = 'products.add_to_cart' | t %}
{% assign color_t = 'products.color' | t %}
{% assign sold_out_form_t = 'products.sold_out.form_notification' | t %}
{% assign sold_out_description_t = 'products.sold_out.form_description' | t %}
{% assign sold_out_email_t = 'products.sold_out.email_description' | t %}
{% assign sold_out_email_ph_t = 'products.sold_out.email_placeholder' | t %}
{% assign sold_out_email_invalid_t = 'products.sold_out.feedback_invalid_email' | t %}
{% assign sold_out_button_t = 'products.sold_out.button' | t %}
{% assign quantity_t = 'products.quantity' | t %}
{% capture size_chart_path %}
  <code>{{ 'products.size_chart_path' | t }}</code>
{% endcapture %}
{% comment %} Variables {% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% unless enable_callback %}
  {% assign enable_callback = false %}
{% endunless %}
<div
  class="product-form--root"
  data-enable-callback="{{ enable_callback }}"
  data-handle="{{ product.handle }}"
  data-size-chart-enabled="{{ enable_size_chart }}"
  data-size-chart-option="{{ size_chart_option }}"
  data-sold-out="{{ sold_out }}"
  {% if low_stock_amount > 0 %}
    data-low-stock-amount="{{ low_stock_amount }}"
  {% endif %}
>
  <div class="modal--root product-form-root" data-js-class="FrameworkModal">
    {% form 'product', product, data-productid: product.id, class: 'product-form--container' %}
    <div class="layer-btn">
            <ul>
              <div class="product-form--variants">
                {% unless product.has_only_default_variant %}
                  {% for option in product.options_with_values %}
                    {% assign option_name = option.name | trim | downcase %}
                    {% if enable_swatches and option_name == color_t %}
                      {%
                        render 'framework--radios',
                        option: option,
                        id: product.id,
                        is_swatches: true
                      %}
                    {% elsif variant_style == 'dropdowns' %}
                      {%
                        render 'framework--disclosure',
                        display_label: true
                        label_name: option_name,
                        option_names: option.values,
                        current_value: option.selected_value,
                        id: product.id
                      %}
                    {% else %}
                      {%
                        render 'framework--radios',
                        option: option,
                        id: product.id
                      %}
                    {% endif %}
                  {% endfor %}
                {% endunless %}
                <select class="product-form--variant-select" name="id" data-productid="{{ product.id }}">
                  {% for variant in product.variants %}
                    <option
                      value="{{ variant.id }}"
                      data-sku="{{ variant.sku }}"
                      {% if variant == current_variant %}
                        selected
                      {% endif %}
                      {% if low_stock_amount > 0 and
                        variant.inventory_management == "shopify" and
                        variant.inventory_policy == "deny"
                      %}
                        data-inventory-quantity="{{ variant.inventory_quantity }}"
                      {% endif %}
                    >
                      {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
                <input type="hidden" name="quantity" value="1">
                {% comment %}
                  NOTE: to add quantity field, remove input above this line and uncomment block below
                {% endcomment %}
                {% comment %}
                  <div class="product-form--quantity">
                    <label for="product-quantity">{{ quantity_t }}</label>
                    <input
                      id="quantity"
                      type="number"
                      name="quantity"
                      min="1"
                      value="1"
                      style="width: 64px"
                    />
                  </div>
                {% endcomment %}
              </div>
              {% if low_stock_amount > 0 and sold_out == false %}
              	<div class="product-form--low-stock" data-item="paragraph"></div>
      		  {% endif %}
              <li class="black" data-enabled="true"
                  {% if enable_smart_payment %}
                    data-item='secondary-button'
                  {% else %}
                    data-item='button'
                  {% endif %}>
                <button class="product-form--add-to-cart btn text-center">
                  <span class="product-form--text">{{ add_to_cart_t }} <span>-</span> {{ current_variant.price | money }}</span>
                  <span class="fw--loading_animation tiny" data-js-class="FrameworkLoadingAnimation"></span>
                </button>
              </li>
              {% if enable_smart_payment and sold_out == false %}
              <li class="product-form--smart-payment-buttons">
                    {{ form | payment_button }}
              </li>
              {% endif %}
            </ul>
        </div>
    {% endform %}

    {% if show_unavailable_form %}
      <div class="product-form--unavailable">
        {% form 'contact', id: 'contact_unavailable' %}

          {% if form.posted_successfully? %}
            <p class="success" data-item="paragraph">
              {{ sold_out_form_t }}
            </p>
          {% else %}
            <p data-item="paragraph">
              {{ sold_out_description_t }}
            </p>
          {% endif %}

          {% if form.errors %}
            <div class="error" data-item="paragraph">
              <p>{{ sold_out_email_invalid_t }}</p>
            </div>
          {% endif %}

          {% unless form.posted_successfully? %}
            <div class="product-form--notify">
              <label for="contact_unavailable_email" data-item='hidden-text'>
                {{ sold_out_email_ph_t }}
              </label>
              <input
                class="{% if form.errors contains 'email' %}error{% endif %}"
                type="email"
                name="contact[email]"
                placeholder="{{ sold_out_email_ph_t }}"
                value="{{ customer.email }}"
                id="contact_unavailable_email"
                required
              >
              <input
                class="email-body"
                type="hidden"
                name="contact[body]"
                value="{{ sold_out_email_t }}: {{ product.title | escape }}"
              >
              <div data-item="button">
                <button>{{ sold_out_button_t }}</button>
              </div>
            </div>
          {% endunless %}

          <div data-item="hidden-text">
            {% comment %} remove the below line to display reCAPTCHA badge {% endcomment %}
            {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
          </div>
        {% endform %}
      </div>
    {% endif %}

    {% if enable_size_chart %}
      {% if size_chart_content == blank %}
        {% assign page_content = 'products.empty_page_content_html' | t: size_chart_path: size_chart_path %}
      {% else %}
        {% assign page_content = pages[size_chart_content].content %}
      {% endif %}

      {% assign has_size = false %}
      {% assign size_index = 0 %}
      {% for option in product.options %}
        {% assign downcased_option = option | downcase %}
        {% if has_size == false and size_chart_option contains downcased_option %}
          {% assign has_size = true %}
          {% assign size_index = forloop.index0 %}
        {% endif %}
      {% endfor %}

      {% if has_size %}
        <div class="modal--content">
          <div class="product-form--modal rte-content">
            {{ page_content }}
          </div>
        </div>
      {% endif %}
    {% endif %}

  </div>
</div>
<div id="ingreditnts-modal" class="size-modal">
  <div class="size-data">
    <span id="close-modal" class="close-size-modal">&times;</span>
    <div class="size-inner-content">
      <div class="left-side">
        <img style="z-index: 3;" id="img{{forloop.index0}}" name="{{ image.alt }}" data-src="{{ product.featured_image | img_url: '100x100'}}" itemprop="image" src="{{ product.featured_image | img_url: '721x736'}}" class=" lazyloaded">
      </div>
      <div class="right-side">
        <div class="pdt-sizes">
          <table style="width:100%">
            <tr>
              {% if product.metafields.amount.per_scoop != blank %}
              <th colspan="2" style="text-align:left">AMOUNT PER SCOOP ({{ product.metafields.amount.per_scoop }})</th>
              {% else %}
              <th colspan="2" style="text-align:left">AMOUNT PER SCOOP (NA)</th>
              {% endif %}
            </tr>
            <tr>
              <td>Calories</td>
              <td>
                {% if product.metafields.calories.value != blank %}
                {{product.metafields.calories.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Fat</td>
              <td>
                {% if product.metafields.fat.value != blank %}
                {{product.metafields.fat.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Protein</td>
              <td>
                {% if product.metafields.protein.value != blank %}
                {{product.metafields.protein.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Sugars</td>
              <td>
                {% if product.metafields.sugars.value != blank %}
                {{product.metafields.sugars.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Carbohydrates</td>
              <td>
                {% if product.metafields.carbohydrates.value != blank %}
                {{product.metafields.carbohydrates.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>Sodium</td>
              <td>
                {% if product.metafields.sodium.value != blank %}
                {{product.metafields.sodium.value}}
                {% else %}
                NA
                {% endif %}
              </td>
            </tr>
          </table>
        </div>
        <div class="wash-direction">
          <h5>INGREDIENTS</h5>
          <p>
            {% if product.metafields.ingredients.description != blank %}
                {{product.metafields.ingredients.description}}
                {% else %}
                NA
                {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% if enable_callback and product.has_only_default_variant == false %}
  <script>
    var selectCallback = function(variant) {
      theme.partials.Product.variantSelected(variant);
      // add your selectCallback code here...
    };
  </script>
{% endif %}

<script>
  // Get the modal
//var sizeBtn = document.getElementById("ingreditnts-modal");

// Get the button that opens the modal
//var openbtn = document.getElementById("show-ingreditnts");

// Get the element that closes the modal
//var closeBtn = document.getElementById("close-modal");

// When the user clicks the button, open the modal 
openbtn.onclick = function(e) {
  e.preventDefault();
  sizeBtn.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
closeBtn.onclick = function() {
  sizeBtn.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == sizeBtn) {
    sizeBtn.style.display = "none";
  }
}
</script>

