<div id="zooomybackinstock"></div>
           <script async src="https://zooomyapps.com/backinstock/zooomybackinstock.js" data-shop="{{shop.permanent_domain}}" data-customer-name="{{customer.name}}" data-handle="{{product.handle}}" data-customer="{{customer.email}}" data-product-id="{{product.id}}" ></script>