<section class="membership-wrp">
	<div class="container-fluid ">
            <div class="row prod-name-row">  
               <div class="col-4">
                 <p>{{ section.settings.product_category_title }}</p>
               </div>
               <div class="col-4">
                 <button class="tablink" onclick="openPage('News', this, '#f7f7f7')" id="defaultOpen">{{ section.settings.product_category_name1 }}</button>
               </div>
               <div class="col-4">
                 <button class="tablink" onclick="openPage('Contact', this, '#f7f7f7')">{{ section.settings.product_category_name2 }}</button>
               </div>
               <div class="col-4">
                 <button class="tablink" onclick="openPage('About', this, '#f7f7f7')">{{ section.settings.product_category_name3 }}</button>
               </div>
            </div>
     </div>
 

    <div id="Contact" class="tabcontent">
       <section class="membership">
         <div class="container-fluid ">
            <div class="row">
               <div class="col-7">
                  <h2>{{ section.settings.tab02_membership_title_one }}</h2>
                  <p>{{ section.settings.tab02_membership_desc_one }}</p>
                  <a href="#">{{ section.settings.tab02_membership_button_one }}</a>
               </div>
               <div class="col-5">
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="82" height="69" viewBox="0 0 82 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M81.0678 16.2971L50.4078 5.47713C50.2478 5.42713 50.0778 5.42713 49.9178 5.47713L27.3078 13.4571L26.3778 10.1671C26.3378 10.0071 26.2278 9.87713 26.0978 9.78713L16.4478 3.39713C16.2878 3.29713 16.0778 3.26713 15.8978 3.31713L11.1178 4.66713L9.90777 0.367129C9.82777 0.0971293 9.55777 -0.0528691 9.28777 0.0171309C9.01777 0.0971309 8.86777 0.36713 8.93777 0.63713L10.1478 4.93713L5.37777 6.28713C5.18777 6.33713 5.02777 6.47713 4.94777 6.65713L0.0677752 17.1271C-0.00222477 17.2771 -0.0222257 17.4471 0.0277743 17.6071L9.09777 49.7871C9.17777 50.0871 9.44777 50.2871 9.74777 50.2871C9.80777 50.2871 9.86777 50.2771 9.92777 50.2671L18.9078 47.7371V57.5071C18.9078 57.8171 19.0978 58.0871 19.3878 58.1871L49.9078 68.9571C49.9878 68.9871 50.0678 68.9971 50.1478 68.9971C50.2278 68.9971 50.3078 68.9871 50.3878 68.9571L80.9078 58.1871C81.1978 58.0871 81.3878 57.8071 81.3878 57.5071V16.9171V16.7671C81.3978 16.5471 81.2678 16.3671 81.0678 16.2971ZM50.1578 6.44713L79.5978 16.8371L70.6278 20.0071L41.1878 9.61713L50.1578 6.44713ZM50.1578 27.2271L29.0978 19.7971L27.5778 14.4171L31.5478 13.0171L60.9978 23.3971L50.1578 27.2271ZM62.4978 22.8671L33.0578 12.4871L39.6878 10.1471L69.1378 20.5371L62.4978 22.8671ZM62.9678 23.7671L70.0878 21.2571V29.6171L62.9678 32.1171V23.7671ZM1.02777 17.4371L5.79777 7.19713L10.4278 5.88713L11.5178 9.73713C10.8478 10.0371 10.2878 10.5271 9.91777 11.1871C9.46777 11.9871 9.35777 12.9171 9.60777 13.7971C9.85777 14.6771 10.4378 15.4171 11.2378 15.8671C11.7578 16.1571 12.3278 16.3071 12.9078 16.3071C13.2178 16.3071 13.5378 16.2671 13.8478 16.1771C14.7278 15.9271 15.4678 15.3471 15.9178 14.5471C16.3678 13.7471 16.4778 12.8171 16.2278 11.9371C15.9778 11.0571 15.3978 10.3171 14.5978 9.86713C13.9478 9.49713 13.2078 9.37713 12.4778 9.46713L11.3878 5.61713L16.0178 4.30713L25.4378 10.5471L26.4778 14.2271L28.1878 20.3071L34.3878 42.2971L9.98777 49.1871L1.02777 17.4371ZM12.2578 10.5271C12.4778 10.4671 12.6978 10.4371 12.9278 10.4371C13.3378 10.4371 13.7478 10.5471 14.1178 10.7471C14.6878 11.0671 15.0978 11.5871 15.2778 12.2171C15.6478 13.5071 14.8878 14.8571 13.5978 15.2271C12.3078 15.5971 10.9578 14.8371 10.5878 13.5471C10.4078 12.9171 10.4878 12.2571 10.8078 11.6971C11.1178 11.1171 11.6378 10.7071 12.2578 10.5271ZM19.9278 47.4271L34.9978 43.1771C35.3478 43.0771 35.5578 42.7071 35.4678 42.3471L29.4378 20.9671L49.6678 28.1071V67.7671L19.9278 57.2771V47.4271ZM50.6578 67.7671V28.1071L61.9678 24.1171V32.8271C61.9678 32.9871 62.0478 33.1371 62.1778 33.2371C62.2678 33.2971 62.3678 33.3271 62.4678 33.3271C62.5278 33.3271 62.5778 33.3171 62.6378 33.2971L70.7578 30.4471C70.9578 30.3771 71.0878 30.1871 71.0878 29.9771V20.9071L80.3978 17.6171V57.2771L50.6578 67.7671Z" fill="white"/>
                           </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab02_service_title_one }}</h5>
                        <p>{{ section.settings.tab02_service_desc_one }}</p>
                     </div>
                  </div>
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="65" height="69" viewBox="0 0 65 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M61.93 32.8405L48.97 32.8105L57.21 23.0405L57.4 23.2305C57.83 23.6605 58.41 23.9005 59.02 23.9005C59.02 23.9005 59.02 23.9005 59.03 23.9005C59.64 23.9005 60.21 23.6605 60.64 23.2305L61.2 22.6805C61.63 22.2505 61.87 21.6705 61.87 21.0605C61.87 20.4505 61.64 19.8705 61.2 19.4405L55.68 13.9005C55.25 13.4705 54.68 13.2305 54.06 13.2305C54.06 13.2305 54.06 13.2305 54.05 13.2305C53.44 13.2305 52.87 13.4705 52.44 13.9005L51.88 14.4505C50.99 15.3405 50.98 16.7905 51.87 17.6905L52.06 17.8805L34.3 32.7005L34.36 32.7705L27.15 32.7505C26.24 31.6905 25.26 30.7305 24.23 29.8605C26.27 27.7905 27.38 25.0805 27.38 22.2205C27.38 21.7805 27.35 21.3305 27.3 20.8905C26.88 17.4305 24.9 14.4505 21.87 12.7005C21.76 12.6405 21.64 12.6205 21.52 12.6405C21.48 12.6505 21.45 12.6605 21.42 12.6805C21.37 12.7005 21.32 12.7405 21.27 12.7805C18.74 15.2005 17.53 18.5605 17.94 22.0205C18.13 23.6105 18.67 25.1005 19.47 26.4205C18.5 25.8005 17.53 25.2205 16.6 24.6605C15.29 23.8705 14.01 23.1005 12.82 22.2905C13.04 21.4105 13.17 20.5205 13.17 19.6305C13.17 17.2905 12.4 15.0205 10.93 13.1105C8.89 10.4805 5.82 8.98047 2.48 8.98047C2.41 8.98047 2.36 9.03047 2.28 8.98047C2.16 8.98047 2.04 9.03047 1.96 9.11047C1.93 9.14047 1.91 9.17047 1.88 9.20047C1.85 9.25047 1.82 9.30047 1.81 9.36047C0.910001 12.6505 1.58 16.0705 3.66 18.7505C5.66 21.3305 8.66 22.8105 11.92 22.8705C13.22 23.7805 14.64 24.6305 16.09 25.5105C16.13 25.5405 16.17 25.5605 16.22 25.5905C16.17 25.5905 16.13 25.5805 16.08 25.5905C14.04 25.6605 12.19 26.6605 11.02 28.3505L10.81 28.6605L11.04 28.9405C12.28 30.4905 14.1 31.3605 16.05 31.3605C16.12 31.3605 16.2 31.3605 16.27 31.3605C18.24 31.2905 20.02 30.3505 21.2 28.7705C22.83 29.9305 24.39 31.2205 25.8 32.7605L2.15 32.7005C0.970002 32.7005 0.01 33.6605 0 34.8405V35.5605C0 36.1305 0.220001 36.6705 0.620001 37.0805C1.02 37.4905 1.56 37.7105 2.14 37.7105H2.84L2.82 45.6105C2.81 49.8505 4.49 54.6405 7.31 58.4205C9.98 62.0005 13.25 64.1905 16.67 64.7505L15.69 67.9505C15.62 68.1705 15.66 68.4205 15.8 68.6105C15.94 68.8005 16.16 68.9105 16.4 68.9105L47.5 68.9905C47.73 68.9905 47.95 68.8805 48.09 68.6905C48.23 68.5005 48.27 68.2605 48.21 68.0305L47.25 64.8305C50.67 64.2905 53.96 62.1105 56.64 58.5505C59.48 54.7805 61.18 50.0005 61.19 45.7605L61.21 37.8605H61.91C62.48 37.8605 63.02 37.6405 63.42 37.2405C63.83 36.8405 64.05 36.3005 64.05 35.7305V35.0105C64.07 33.8105 63.11 32.8405 61.93 32.8405ZM4.46 18.1405C2.65 15.8105 2.01 12.8605 2.69 9.98047C5.64 10.0405 8.34 11.3905 10.15 13.7205C11.48 15.4405 12.18 17.5005 12.18 19.6205C12.18 20.3005 12.1 20.9805 11.95 21.6605C10.3 20.4605 8.89 19.1705 7.95 17.6305C7.37 16.6905 6.98 15.7005 6.77 14.6205C6.72 14.3505 6.45 14.1705 6.18 14.2305C5.91 14.2805 5.73 14.5505 5.79 14.8205C6.03 16.0205 6.46 17.1105 7.1 18.1605C7.93 19.5105 9.07 20.6605 10.39 21.7205C8.05 21.3005 5.95 20.0605 4.46 18.1405ZM16.24 30.3505C14.67 30.4105 13.15 29.7705 12.07 28.6005C13.07 27.3605 14.52 26.6305 16.11 26.5805C17.72 26.5305 19.2 27.1605 20.28 28.3305C19.29 29.5705 17.84 30.3005 16.24 30.3505ZM21.71 13.7605C24.29 15.3705 25.96 17.9905 26.32 21.0105C26.37 21.4205 26.39 21.8205 26.39 22.2205C26.39 24.7605 25.42 27.1805 23.64 29.0505C24.02 26.9205 23.73 24.6205 22.75 22.0305C22.65 21.7705 22.36 21.6405 22.11 21.7405C21.85 21.8405 21.72 22.1305 21.82 22.3805C22.69 24.6705 22.98 26.6905 22.71 28.5505C20.62 26.9305 19.26 24.5705 18.94 21.9005C18.58 18.8805 19.59 15.9305 21.71 13.7605ZM52.6 15.1505L53.16 14.6005C53.4 14.3605 53.73 14.2205 54.07 14.2205C54.41 14.2205 54.74 14.3605 54.98 14.6005L60.5 20.1405C60.74 20.3805 60.88 20.7105 60.88 21.0505C60.88 21.3905 60.74 21.7205 60.5 21.9605L59.94 22.5105C59.7 22.7505 59.37 22.8905 59.03 22.8905C58.69 22.8905 58.36 22.7505 58.12 22.5105L52.6 16.9705C52.09 16.4705 52.09 15.6505 52.6 15.1505ZM52.78 18.5805L56.51 22.3305L47.67 32.8105L35.77 32.7705L52.78 18.5805ZM16.75 67.9105L17.67 64.9005H18.37L46.25 64.9705L47.16 67.9805L16.75 67.9105ZM60.2 45.7505C60.18 53.9605 53.43 63.9705 45.58 63.9705C45.57 63.9705 45.56 63.9705 45.56 63.9705L18.38 63.9005C14.68 63.8905 11.04 61.7305 8.13 57.8205C5.43 54.2005 3.83 49.6405 3.84 45.6105L3.86 37.7105L60.23 37.8505L60.2 45.7505ZM63.07 35.7105C63.07 36.0205 62.95 36.3005 62.73 36.5205C62.51 36.7305 62.23 36.8505 61.92 36.8505L2.15 36.7005C1.84 36.7005 1.56 36.5805 1.34 36.3605C1.12 36.1405 1.01 35.8605 1.01 35.5505V34.8305C1.01 34.2005 1.53 33.6905 2.16 33.6905L61.94 33.8405C62.57 33.8405 63.08 34.3605 63.08 34.9905L63.07 35.7105Z" fill="white"/>
                        <path d="M36.81 20.6996C36.81 20.6996 36.82 20.6996 36.81 20.6996C39.2 20.6996 41.14 18.7696 41.14 16.3896C41.14 15.2296 40.7 14.1496 39.88 13.3296C39.07 12.5096 37.98 12.0596 36.83 12.0596H36.82C34.44 12.0596 32.5 13.9896 32.5 16.3696C32.49 18.7496 34.42 20.6996 36.81 20.6996ZM36.82 13.0596C36.82 13.0596 36.83 13.0596 36.82 13.0596C37.72 13.0596 38.55 13.4096 39.18 14.0396C39.81 14.6696 40.15 15.4996 40.15 16.3896C40.15 17.2796 39.8 18.1096 39.17 18.7396C38.54 19.3596 37.71 19.7096 36.82 19.7096C36.82 19.7096 36.82 19.7096 36.81 19.7096C35.92 19.7096 35.09 19.3596 34.46 18.7296C33.83 18.0996 33.49 17.2696 33.49 16.3796C33.5 14.5396 34.99 13.0596 36.82 13.0596Z" fill="white"/>
                        <path d="M42.94 10.5299C43.63 10.5299 44.28 10.2599 44.76 9.77988C45.25 9.29988 45.52 8.64988 45.52 7.95988C45.52 6.53988 44.37 5.37988 42.95 5.37988C42.95 5.37988 42.95 5.37988 42.94 5.37988C42.26 5.37988 41.61 5.64988 41.13 6.12988C40.64 6.60988 40.37 7.25988 40.37 7.94988C40.36 9.36988 41.52 10.5199 42.94 10.5299ZM41.83 6.83988C42.13 6.54988 42.52 6.37988 42.94 6.37988C43.81 6.37988 44.51 7.08988 44.51 7.95988C44.51 8.37988 44.34 8.77988 44.05 9.06988C43.75 9.36988 43.33 9.53988 42.93 9.52988C42.06 9.52988 41.36 8.81988 41.36 7.94988C41.37 7.52988 41.53 7.12988 41.83 6.83988Z" fill="white"/>
                        <path d="M36.46 3.82C36.47 3.82 36.47 3.82 36.46 3.82C36.97 3.82 37.45 3.62 37.81 3.26C38.17 2.9 38.37 2.42 38.37 1.91C38.37 1.4 38.17 0.919999 37.81 0.559999C37.45 0.199999 36.97 0 36.46 0C35.41 0 34.55 0.85 34.55 1.9C34.56 2.96 35.41 3.82 36.46 3.82ZM36.47 1C36.72 1 36.94 1.1 37.11 1.27C37.28 1.44 37.38 1.67 37.37 1.91C37.37 2.15 37.27 2.38 37.1 2.55C36.93 2.72 36.7 2.81 36.46 2.81C35.96 2.81 35.55 2.4 35.55 1.9C35.56 1.41 35.97 1 36.47 1Z" fill="white"/>
                        </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab02_service_title_two }}</h5>
                        <p>{{ section.settings.tab02_service_desc_two }}</p>
                     </div>
                  </div>
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="65" height="61" viewBox="0 0 65 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M64.15 19.9575L59.1 16.7775V5.4075C59.1 5.0475 58.81 4.7575 58.45 4.7575H39.98L32.58 0.0975C32.37 -0.0325 32.1 -0.0325 31.89 0.0975L24.49 4.7575H6.01C5.65 4.7575 5.36 5.0475 5.36 5.4075V16.7775L0.299999 19.9575C0.109999 20.0775 0 20.2875 0 20.5075V59.5575C0 59.9175 0.29 60.2075 0.65 60.2075H63.8C64.16 60.2075 64.45 59.9175 64.45 59.5575V20.5075C64.46 20.2875 64.34 20.0775 64.15 19.9575ZM5.36 23.6775L1.36 20.4675L5.36 17.9575V23.6775ZM26.37 41.8275L1 58.7775V21.4675L26.37 41.8275ZM27.19 42.4875L31.82 46.1975C31.94 46.2975 32.09 46.3475 32.23 46.3475C32.37 46.3475 32.52 46.2975 32.64 46.2075L37.27 42.4875L62.31 59.2175H2.15L27.19 42.4875ZM38.08 41.8275L63.45 21.4675V58.7775L38.08 41.8275ZM63.1 20.4775L59.1 23.6875V17.9675L63.1 20.4775ZM32.23 1.0675L38.1 4.7575H26.36L32.23 1.0675ZM6.36 5.7575H24.62H39.83H58.1V24.4775L32.23 45.2475L6.36 24.4775V17.0475V5.7575Z" fill="white"/>
                           <path d="M28.06 27.3776C27.96 27.3776 27.85 27.3476 27.77 27.2776C27.61 27.1576 27.53 26.9676 27.57 26.7676L28.5 22.3376L25.14 19.3076C24.99 19.1776 24.94 18.9676 25 18.7776C25.06 18.5876 25.23 18.4576 25.42 18.4376L29.92 17.9576L31.77 13.8276C31.93 13.4676 32.52 13.4676 32.68 13.8276L34.53 17.9576L39.03 18.4376C39.23 18.4576 39.39 18.5976 39.45 18.7776C39.51 18.9576 39.46 19.1676 39.31 19.3076L35.95 22.3376L36.88 26.7676C36.92 26.9576 36.84 27.1576 36.68 27.2776C36.52 27.3976 36.31 27.3976 36.14 27.3076L32.23 25.0576L28.31 27.3076C28.23 27.3576 28.14 27.3776 28.06 27.3776ZM32.23 23.9776C32.32 23.9776 32.4 23.9976 32.48 24.0476L35.68 25.8876L34.92 22.2676C34.88 22.0976 34.94 21.9176 35.07 21.7976L37.81 19.3176L34.14 18.9276C33.96 18.9076 33.81 18.7976 33.74 18.6376L32.23 15.2576L30.72 18.6276C30.65 18.7876 30.49 18.8976 30.32 18.9176L26.65 19.3076L29.39 21.7876C29.52 21.9076 29.58 22.0876 29.54 22.2576L28.78 25.8776L31.98 24.0376C32.06 23.9976 32.14 23.9776 32.23 23.9776Z" fill="white"/>
                        </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab02_service_title_three }}</h5>
                        <p>{{ section.settings.tab02_service_desc_three }} </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section> 
    </div>

    <div id="About" class="tabcontent">
       <section class="membership">
         <div class="container-fluid ">
            <div class="row">
               <div class="col-7">
                  <h2>{{ section.settings.tab03_membership_title_one }}</h2>
                  <p>{{ section.settings.tab03_membership_desc_one }}</p>
                  <a href="#">{{ section.settings.tab03_membership_button_one }}</a>
               </div>
               <div class="col-5">
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="82" height="69" viewBox="0 0 82 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M81.0678 16.2971L50.4078 5.47713C50.2478 5.42713 50.0778 5.42713 49.9178 5.47713L27.3078 13.4571L26.3778 10.1671C26.3378 10.0071 26.2278 9.87713 26.0978 9.78713L16.4478 3.39713C16.2878 3.29713 16.0778 3.26713 15.8978 3.31713L11.1178 4.66713L9.90777 0.367129C9.82777 0.0971293 9.55777 -0.0528691 9.28777 0.0171309C9.01777 0.0971309 8.86777 0.36713 8.93777 0.63713L10.1478 4.93713L5.37777 6.28713C5.18777 6.33713 5.02777 6.47713 4.94777 6.65713L0.0677752 17.1271C-0.00222477 17.2771 -0.0222257 17.4471 0.0277743 17.6071L9.09777 49.7871C9.17777 50.0871 9.44777 50.2871 9.74777 50.2871C9.80777 50.2871 9.86777 50.2771 9.92777 50.2671L18.9078 47.7371V57.5071C18.9078 57.8171 19.0978 58.0871 19.3878 58.1871L49.9078 68.9571C49.9878 68.9871 50.0678 68.9971 50.1478 68.9971C50.2278 68.9971 50.3078 68.9871 50.3878 68.9571L80.9078 58.1871C81.1978 58.0871 81.3878 57.8071 81.3878 57.5071V16.9171V16.7671C81.3978 16.5471 81.2678 16.3671 81.0678 16.2971ZM50.1578 6.44713L79.5978 16.8371L70.6278 20.0071L41.1878 9.61713L50.1578 6.44713ZM50.1578 27.2271L29.0978 19.7971L27.5778 14.4171L31.5478 13.0171L60.9978 23.3971L50.1578 27.2271ZM62.4978 22.8671L33.0578 12.4871L39.6878 10.1471L69.1378 20.5371L62.4978 22.8671ZM62.9678 23.7671L70.0878 21.2571V29.6171L62.9678 32.1171V23.7671ZM1.02777 17.4371L5.79777 7.19713L10.4278 5.88713L11.5178 9.73713C10.8478 10.0371 10.2878 10.5271 9.91777 11.1871C9.46777 11.9871 9.35777 12.9171 9.60777 13.7971C9.85777 14.6771 10.4378 15.4171 11.2378 15.8671C11.7578 16.1571 12.3278 16.3071 12.9078 16.3071C13.2178 16.3071 13.5378 16.2671 13.8478 16.1771C14.7278 15.9271 15.4678 15.3471 15.9178 14.5471C16.3678 13.7471 16.4778 12.8171 16.2278 11.9371C15.9778 11.0571 15.3978 10.3171 14.5978 9.86713C13.9478 9.49713 13.2078 9.37713 12.4778 9.46713L11.3878 5.61713L16.0178 4.30713L25.4378 10.5471L26.4778 14.2271L28.1878 20.3071L34.3878 42.2971L9.98777 49.1871L1.02777 17.4371ZM12.2578 10.5271C12.4778 10.4671 12.6978 10.4371 12.9278 10.4371C13.3378 10.4371 13.7478 10.5471 14.1178 10.7471C14.6878 11.0671 15.0978 11.5871 15.2778 12.2171C15.6478 13.5071 14.8878 14.8571 13.5978 15.2271C12.3078 15.5971 10.9578 14.8371 10.5878 13.5471C10.4078 12.9171 10.4878 12.2571 10.8078 11.6971C11.1178 11.1171 11.6378 10.7071 12.2578 10.5271ZM19.9278 47.4271L34.9978 43.1771C35.3478 43.0771 35.5578 42.7071 35.4678 42.3471L29.4378 20.9671L49.6678 28.1071V67.7671L19.9278 57.2771V47.4271ZM50.6578 67.7671V28.1071L61.9678 24.1171V32.8271C61.9678 32.9871 62.0478 33.1371 62.1778 33.2371C62.2678 33.2971 62.3678 33.3271 62.4678 33.3271C62.5278 33.3271 62.5778 33.3171 62.6378 33.2971L70.7578 30.4471C70.9578 30.3771 71.0878 30.1871 71.0878 29.9771V20.9071L80.3978 17.6171V57.2771L50.6578 67.7671Z" fill="white"/>
                           </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab03_service_title_one }}</h5>
                        <p>{{ section.settings.tab03_service_desc_one }}</p>
                     </div>
                  </div>
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="65" height="69" viewBox="0 0 65 69" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M61.93 32.8405L48.97 32.8105L57.21 23.0405L57.4 23.2305C57.83 23.6605 58.41 23.9005 59.02 23.9005C59.02 23.9005 59.02 23.9005 59.03 23.9005C59.64 23.9005 60.21 23.6605 60.64 23.2305L61.2 22.6805C61.63 22.2505 61.87 21.6705 61.87 21.0605C61.87 20.4505 61.64 19.8705 61.2 19.4405L55.68 13.9005C55.25 13.4705 54.68 13.2305 54.06 13.2305C54.06 13.2305 54.06 13.2305 54.05 13.2305C53.44 13.2305 52.87 13.4705 52.44 13.9005L51.88 14.4505C50.99 15.3405 50.98 16.7905 51.87 17.6905L52.06 17.8805L34.3 32.7005L34.36 32.7705L27.15 32.7505C26.24 31.6905 25.26 30.7305 24.23 29.8605C26.27 27.7905 27.38 25.0805 27.38 22.2205C27.38 21.7805 27.35 21.3305 27.3 20.8905C26.88 17.4305 24.9 14.4505 21.87 12.7005C21.76 12.6405 21.64 12.6205 21.52 12.6405C21.48 12.6505 21.45 12.6605 21.42 12.6805C21.37 12.7005 21.32 12.7405 21.27 12.7805C18.74 15.2005 17.53 18.5605 17.94 22.0205C18.13 23.6105 18.67 25.1005 19.47 26.4205C18.5 25.8005 17.53 25.2205 16.6 24.6605C15.29 23.8705 14.01 23.1005 12.82 22.2905C13.04 21.4105 13.17 20.5205 13.17 19.6305C13.17 17.2905 12.4 15.0205 10.93 13.1105C8.89 10.4805 5.82 8.98047 2.48 8.98047C2.41 8.98047 2.36 9.03047 2.28 8.98047C2.16 8.98047 2.04 9.03047 1.96 9.11047C1.93 9.14047 1.91 9.17047 1.88 9.20047C1.85 9.25047 1.82 9.30047 1.81 9.36047C0.910001 12.6505 1.58 16.0705 3.66 18.7505C5.66 21.3305 8.66 22.8105 11.92 22.8705C13.22 23.7805 14.64 24.6305 16.09 25.5105C16.13 25.5405 16.17 25.5605 16.22 25.5905C16.17 25.5905 16.13 25.5805 16.08 25.5905C14.04 25.6605 12.19 26.6605 11.02 28.3505L10.81 28.6605L11.04 28.9405C12.28 30.4905 14.1 31.3605 16.05 31.3605C16.12 31.3605 16.2 31.3605 16.27 31.3605C18.24 31.2905 20.02 30.3505 21.2 28.7705C22.83 29.9305 24.39 31.2205 25.8 32.7605L2.15 32.7005C0.970002 32.7005 0.01 33.6605 0 34.8405V35.5605C0 36.1305 0.220001 36.6705 0.620001 37.0805C1.02 37.4905 1.56 37.7105 2.14 37.7105H2.84L2.82 45.6105C2.81 49.8505 4.49 54.6405 7.31 58.4205C9.98 62.0005 13.25 64.1905 16.67 64.7505L15.69 67.9505C15.62 68.1705 15.66 68.4205 15.8 68.6105C15.94 68.8005 16.16 68.9105 16.4 68.9105L47.5 68.9905C47.73 68.9905 47.95 68.8805 48.09 68.6905C48.23 68.5005 48.27 68.2605 48.21 68.0305L47.25 64.8305C50.67 64.2905 53.96 62.1105 56.64 58.5505C59.48 54.7805 61.18 50.0005 61.19 45.7605L61.21 37.8605H61.91C62.48 37.8605 63.02 37.6405 63.42 37.2405C63.83 36.8405 64.05 36.3005 64.05 35.7305V35.0105C64.07 33.8105 63.11 32.8405 61.93 32.8405ZM4.46 18.1405C2.65 15.8105 2.01 12.8605 2.69 9.98047C5.64 10.0405 8.34 11.3905 10.15 13.7205C11.48 15.4405 12.18 17.5005 12.18 19.6205C12.18 20.3005 12.1 20.9805 11.95 21.6605C10.3 20.4605 8.89 19.1705 7.95 17.6305C7.37 16.6905 6.98 15.7005 6.77 14.6205C6.72 14.3505 6.45 14.1705 6.18 14.2305C5.91 14.2805 5.73 14.5505 5.79 14.8205C6.03 16.0205 6.46 17.1105 7.1 18.1605C7.93 19.5105 9.07 20.6605 10.39 21.7205C8.05 21.3005 5.95 20.0605 4.46 18.1405ZM16.24 30.3505C14.67 30.4105 13.15 29.7705 12.07 28.6005C13.07 27.3605 14.52 26.6305 16.11 26.5805C17.72 26.5305 19.2 27.1605 20.28 28.3305C19.29 29.5705 17.84 30.3005 16.24 30.3505ZM21.71 13.7605C24.29 15.3705 25.96 17.9905 26.32 21.0105C26.37 21.4205 26.39 21.8205 26.39 22.2205C26.39 24.7605 25.42 27.1805 23.64 29.0505C24.02 26.9205 23.73 24.6205 22.75 22.0305C22.65 21.7705 22.36 21.6405 22.11 21.7405C21.85 21.8405 21.72 22.1305 21.82 22.3805C22.69 24.6705 22.98 26.6905 22.71 28.5505C20.62 26.9305 19.26 24.5705 18.94 21.9005C18.58 18.8805 19.59 15.9305 21.71 13.7605ZM52.6 15.1505L53.16 14.6005C53.4 14.3605 53.73 14.2205 54.07 14.2205C54.41 14.2205 54.74 14.3605 54.98 14.6005L60.5 20.1405C60.74 20.3805 60.88 20.7105 60.88 21.0505C60.88 21.3905 60.74 21.7205 60.5 21.9605L59.94 22.5105C59.7 22.7505 59.37 22.8905 59.03 22.8905C58.69 22.8905 58.36 22.7505 58.12 22.5105L52.6 16.9705C52.09 16.4705 52.09 15.6505 52.6 15.1505ZM52.78 18.5805L56.51 22.3305L47.67 32.8105L35.77 32.7705L52.78 18.5805ZM16.75 67.9105L17.67 64.9005H18.37L46.25 64.9705L47.16 67.9805L16.75 67.9105ZM60.2 45.7505C60.18 53.9605 53.43 63.9705 45.58 63.9705C45.57 63.9705 45.56 63.9705 45.56 63.9705L18.38 63.9005C14.68 63.8905 11.04 61.7305 8.13 57.8205C5.43 54.2005 3.83 49.6405 3.84 45.6105L3.86 37.7105L60.23 37.8505L60.2 45.7505ZM63.07 35.7105C63.07 36.0205 62.95 36.3005 62.73 36.5205C62.51 36.7305 62.23 36.8505 61.92 36.8505L2.15 36.7005C1.84 36.7005 1.56 36.5805 1.34 36.3605C1.12 36.1405 1.01 35.8605 1.01 35.5505V34.8305C1.01 34.2005 1.53 33.6905 2.16 33.6905L61.94 33.8405C62.57 33.8405 63.08 34.3605 63.08 34.9905L63.07 35.7105Z" fill="white"/>
                        <path d="M36.81 20.6996C36.81 20.6996 36.82 20.6996 36.81 20.6996C39.2 20.6996 41.14 18.7696 41.14 16.3896C41.14 15.2296 40.7 14.1496 39.88 13.3296C39.07 12.5096 37.98 12.0596 36.83 12.0596H36.82C34.44 12.0596 32.5 13.9896 32.5 16.3696C32.49 18.7496 34.42 20.6996 36.81 20.6996ZM36.82 13.0596C36.82 13.0596 36.83 13.0596 36.82 13.0596C37.72 13.0596 38.55 13.4096 39.18 14.0396C39.81 14.6696 40.15 15.4996 40.15 16.3896C40.15 17.2796 39.8 18.1096 39.17 18.7396C38.54 19.3596 37.71 19.7096 36.82 19.7096C36.82 19.7096 36.82 19.7096 36.81 19.7096C35.92 19.7096 35.09 19.3596 34.46 18.7296C33.83 18.0996 33.49 17.2696 33.49 16.3796C33.5 14.5396 34.99 13.0596 36.82 13.0596Z" fill="white"/>
                        <path d="M42.94 10.5299C43.63 10.5299 44.28 10.2599 44.76 9.77988C45.25 9.29988 45.52 8.64988 45.52 7.95988C45.52 6.53988 44.37 5.37988 42.95 5.37988C42.95 5.37988 42.95 5.37988 42.94 5.37988C42.26 5.37988 41.61 5.64988 41.13 6.12988C40.64 6.60988 40.37 7.25988 40.37 7.94988C40.36 9.36988 41.52 10.5199 42.94 10.5299ZM41.83 6.83988C42.13 6.54988 42.52 6.37988 42.94 6.37988C43.81 6.37988 44.51 7.08988 44.51 7.95988C44.51 8.37988 44.34 8.77988 44.05 9.06988C43.75 9.36988 43.33 9.53988 42.93 9.52988C42.06 9.52988 41.36 8.81988 41.36 7.94988C41.37 7.52988 41.53 7.12988 41.83 6.83988Z" fill="white"/>
                        <path d="M36.46 3.82C36.47 3.82 36.47 3.82 36.46 3.82C36.97 3.82 37.45 3.62 37.81 3.26C38.17 2.9 38.37 2.42 38.37 1.91C38.37 1.4 38.17 0.919999 37.81 0.559999C37.45 0.199999 36.97 0 36.46 0C35.41 0 34.55 0.85 34.55 1.9C34.56 2.96 35.41 3.82 36.46 3.82ZM36.47 1C36.72 1 36.94 1.1 37.11 1.27C37.28 1.44 37.38 1.67 37.37 1.91C37.37 2.15 37.27 2.38 37.1 2.55C36.93 2.72 36.7 2.81 36.46 2.81C35.96 2.81 35.55 2.4 35.55 1.9C35.56 1.41 35.97 1 36.47 1Z" fill="white"/>
                        </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab03_service_title_two }}</h5>
                        <p>{{ section.settings.tab03_service_desc_two }}</p>
                     </div>
                  </div>
                  <div class="member-icon-wrp">
                     <div class="member-icon">
                        <svg width="65" height="61" viewBox="0 0 65 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M64.15 19.9575L59.1 16.7775V5.4075C59.1 5.0475 58.81 4.7575 58.45 4.7575H39.98L32.58 0.0975C32.37 -0.0325 32.1 -0.0325 31.89 0.0975L24.49 4.7575H6.01C5.65 4.7575 5.36 5.0475 5.36 5.4075V16.7775L0.299999 19.9575C0.109999 20.0775 0 20.2875 0 20.5075V59.5575C0 59.9175 0.29 60.2075 0.65 60.2075H63.8C64.16 60.2075 64.45 59.9175 64.45 59.5575V20.5075C64.46 20.2875 64.34 20.0775 64.15 19.9575ZM5.36 23.6775L1.36 20.4675L5.36 17.9575V23.6775ZM26.37 41.8275L1 58.7775V21.4675L26.37 41.8275ZM27.19 42.4875L31.82 46.1975C31.94 46.2975 32.09 46.3475 32.23 46.3475C32.37 46.3475 32.52 46.2975 32.64 46.2075L37.27 42.4875L62.31 59.2175H2.15L27.19 42.4875ZM38.08 41.8275L63.45 21.4675V58.7775L38.08 41.8275ZM63.1 20.4775L59.1 23.6875V17.9675L63.1 20.4775ZM32.23 1.0675L38.1 4.7575H26.36L32.23 1.0675ZM6.36 5.7575H24.62H39.83H58.1V24.4775L32.23 45.2475L6.36 24.4775V17.0475V5.7575Z" fill="white"/>
                           <path d="M28.06 27.3776C27.96 27.3776 27.85 27.3476 27.77 27.2776C27.61 27.1576 27.53 26.9676 27.57 26.7676L28.5 22.3376L25.14 19.3076C24.99 19.1776 24.94 18.9676 25 18.7776C25.06 18.5876 25.23 18.4576 25.42 18.4376L29.92 17.9576L31.77 13.8276C31.93 13.4676 32.52 13.4676 32.68 13.8276L34.53 17.9576L39.03 18.4376C39.23 18.4576 39.39 18.5976 39.45 18.7776C39.51 18.9576 39.46 19.1676 39.31 19.3076L35.95 22.3376L36.88 26.7676C36.92 26.9576 36.84 27.1576 36.68 27.2776C36.52 27.3976 36.31 27.3976 36.14 27.3076L32.23 25.0576L28.31 27.3076C28.23 27.3576 28.14 27.3776 28.06 27.3776ZM32.23 23.9776C32.32 23.9776 32.4 23.9976 32.48 24.0476L35.68 25.8876L34.92 22.2676C34.88 22.0976 34.94 21.9176 35.07 21.7976L37.81 19.3176L34.14 18.9276C33.96 18.9076 33.81 18.7976 33.74 18.6376L32.23 15.2576L30.72 18.6276C30.65 18.7876 30.49 18.8976 30.32 18.9176L26.65 19.3076L29.39 21.7876C29.52 21.9076 29.58 22.0876 29.54 22.2576L28.78 25.8776L31.98 24.0376C32.06 23.9976 32.14 23.9776 32.23 23.9776Z" fill="white"/>
                        </svg>
                     </div>
                     <div class="member-text">
                        <h5>{{ section.settings.tab03_service_title_three }}</h5>
                        <p>{{ section.settings.tab03_service_desc_three }} </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
    </div>
</section>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}
  document.getElementById("defaultOpen").click();
</script>
{% schema %}
  {
    "name": "Membership",
    "settings": [
		{
			"type": "text",
			"id": "product_category_title",
			"label": "Product Category Title"
		},
		{
			"type": "text",
			"id": "product_category_name1",
			"label": "Product Category Name1"
		},
		{
			"type": "text",
			"id": "product_category_name2",
			"label": "Product Category Name2"
		},
		{
			"type": "text",
			"id": "product_category_name3",
			"label": "Product Category Name3"
		},
		{
			"type": "text",
			"id": "tab01_membership_title_one",
			"label": "Tab01 Membership Title One"
		},
		{
			"type": "text",
			"id": "tab01_membership_desc_one",
			"label": "Tab01 Membership Desc One"
		},
		{
			"type": "text",
			"id": "tab01_membership_button_one",
			"label": "Tab01 Membership Button One"
		},
		{
			"type": "text",
			"id": "tab01_service_title_one",
			"label": "Tab01 Service Title One"
		},
		{
			"type": "text",
			"id": "tab01_service_desc_one",
			"label": "Tab01 Service Desc One"
		},
		{
			"type": "text",
			"id": "tab01_service_title_two",
			"label": "Tab01 Service Title Two"
		},
		{
			"type": "text",
			"id": "tab01_service_desc_two",
			"label": "Tab01 Service Desc Two"
		},
		{
			"type": "text",
			"id": "tab01_service_title_three",
			"label": "Tab01 Service Title Three"
		},
		{
			"type": "text",
			"id": "tab01_service_desc_three",
			"label": "Tab01 Service Desc Three"
		},
		{
			"type": "text",
			"id": "tab02_membership_title_one",
			"label": "Tab02 Membership Title One"
		},
		{
			"type": "text",
			"id": "tab02_membership_desc_one",
			"label": "Tab02 Membership Desc One"
		},
		{
			"type": "text",
			"id": "tab02_membership_button_one",
			"label": "Tab02 Membership Button One"
		},
		{
			"type": "text",
			"id": "tab02_service_title_one",
			"label": "Tab02 Service Title One"
		},
		{
			"type": "text",
			"id": "tab02_service_desc_one",
			"label": "Tab02 Service Desc One"
		},
		{
			"type": "text",
			"id": "tab02_service_title_two",
			"label": "Tab02 Service Title Two"
		},
		{
			"type": "text",
			"id": "tab02_service_desc_two",
			"label": "Tab02 Service Desc Two"
		},
		{
			"type": "text",
			"id": "tab02_service_title_three",
			"label": "Tab02 Service Title Three"
		},
		{
			"type": "text",
			"id": "tab02_service_desc_three",
			"label": "Tab02 Service Desc Three"
		},
		{
			"type": "text",
			"id": "tab03_membership_title_one",
			"label": "Tab03 Membership Title One"
		},
		{
			"type": "text",
			"id": "tab03_membership_desc_one",
			"label": "Tab03 Membership Desc One"
		},
		{
			"type": "text",
			"id": "tab03_membership_button_one",
			"label": "Tab03 Membership Button One"
		},
		{
			"type": "text",
			"id": "tab03_service_title_one",
			"label": "Tab03 Service Title One"
		},
		{
			"type": "text",
			"id": "tab03_service_desc_one",
			"label": "Tab03 Service Desc One"
		},
		{
			"type": "text",
			"id": "tab03_service_title_two",
			"label": "Tab03 Service Title Two"
		},
		{
			"type": "text",
			"id": "tab03_service_desc_two",
			"label": "Tab03 Service Desc Two"
		},
		{
			"type": "text",
			"id": "tab03_service_title_three",
			"label": "Tab03 Service Title Three"
		},
		{
			"type": "text",
			"id": "tab03_service_desc_three",
			"label": "Tab03 Service Desc Three"
		}
	]
  }
{% endschema %}


