
<div class="brick-and-mortar">
  <div class="container">
    <div class="brick-section-title">
      <h3>{% if section.settings.section_title != blank %} 
                  {{ section.settings.section_title }}
                  {% else %}
                  BRICK AND MORTAR
                  {% endif %}</h3>
    </div>
    <div class="row directions">
      <div class="direction-card">
        <h4>
          {% if section.settings.location1_title != blank %} 
                  {{ section.settings.location1_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location1_subtitle != blank %} 
                  {{ section.settings.location1_subtitle }}
                  {% else %}
                  MASC Yaletown Vancouver 
                  {% endif %}
      
        <a class="area-link" href="{% if section.settings.location1_url != blank %} 
                  {{ section.settings.location1_url }}
                  {% else %}
                  https://shopmasc.com
                  {% endif %}">{% if section.settings.location1_url != blank %} 
                  {{ section.settings.location1_url }}
                  {% else %}
                  https://shopmasc.com
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location1_get_direction != blank %} 
                  {{ section.settings.location1_get_direction }}
                  {% else %}
                  https://www.google.com/maps/dir//433+Davie+St,+Vancouver,+BC+V6B+2G2,+Canada/@49.2755537,-123.1254198,17z/data=!4m8!4m7!1m0!1m5!1m1!1s0x548673d69586aaf7:0xe036e884655704ff!2m2!1d-123.1232311!2d49.2755502 
                  {% endif %}">Get direction</a>
        <div class="address-box">
          {% if section.settings.location1_address != blank %} 
                  {{ section.settings.location1_address }}
                  {% else %}
                  433 Davie St, Vancouver, BC V6B 2G2 
                  {% endif %}
        </div>
      </div>
      <div class="direction-card">
        <h4>
          {% if section.settings.location2_title != blank %} 
                  {{ section.settings.location2_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location2_subtitle != blank %} 
                  {{ section.settings.location2_subtitle }}
                  {% else %}
                  TURF Kitsilano Vancouver 
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location2_url != blank %} 
                  {{ section.settings.location2_url }}
                  {% else %}
                  www.ourturf.com
                  {% endif %}">{% if section.settings.location2_url != blank %} 
                  {{ section.settings.location2_url }}
                  {% else %}
                  www.ourturf.com
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location2_get_direction != blank %} 
                  {{ section.settings.location2_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/2041+W+4th+Ave,+Vancouver,+BC+V6J+1N3/@49.2690583,-123.1515424,18.5z/data=!4m5!3m4!1s0x548673b432e6b063:0x420e0bf1dde680d6!8m2!3d49.2683677!4d-123.1515767 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location2_address != blank %} 
                  {{ section.settings.location2_address }}
                  {% else %}
                  101 - 2041 W 4th Avenue, Vancouver, BC V6J 1N3 
                  {% endif %}
                  </div>
              </div>
          
        <div class="direction-card">
        <h4>
          {% if section.settings.location3_title != blank %} 
                  {{ section.settings.location3_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location3_subtitle != blank %} 
                  {{ section.settings.location3_subtitle }}
                  {% else %}
                  Holt Renfrew Vancouver
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location3_url != blank %} 
                  {{ section.settings.location3_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location3_url != blank %} 
                  {{ section.settings.location3_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location3_get_direction != blank %} 
                  {{ section.settings.location3_get_direction }}
                  {% else %}
                  https://www.google.com/search?q=holt%20renfrew%20vancouver&rlz=1C1VDKB_enCA939CA939&oq=HOLT+RENFREW+VANCOUVER&aqs=chrome.0.0i20i131i263i433i512j0i512l3j46i175i199i512l2j0i20i263i512j0i512l3.3981j0j7&sourceid=chrome&ie=UTF-8&tbs=lf:1,lf_ui:4&tbm=lcl&sxsrf=ALiCzsY1fddl9naYtnNpyLUbGVUIjmNt2g:1653058867173&rflfq=1&num=10&rldimm=13229558662963440388&lqi=ChZob2x0IHJlbmZyZXcgdmFuY291dmVyIgOIAQFInrnW5rmugIAIWioQABABGAAYARgCIhZob2x0IHJlbmZyZXcgdmFuY291dmVyKgYIAhAAEAGSARBkZXBhcnRtZW50X3N0b3JlqgEUEAEqECIMaG9sdCByZW5mcmV3KAA&ved=2ahUKEwiI98eUrO73AhUvJTQIHaWnAckQvS56BAgCEAE&sa=X&rlst=f#rlfi=hd:;si:13229558662963440388,l,ChZob2x0IHJlbmZyZXcgdmFuY291dmVyIgOIAQFInrnW5rmugIAIWioQABABGAAYARgCIhZob2x0IHJlbmZyZXcgdmFuY291dmVyKgYIAhAAEAGSARBkZXBhcnRtZW50X3N0b3JlqgEUEAEqECIMaG9sdCByZW5mcmV3KAA;mv:[[49.28478260000001,-123.11634350000001],[49.2839713,-123.1166079]];tbs:lrf:!1m4!1u3!2m2!3m1!1e1!2m1!1e3!3sIAE,lf:1,lf_ui:4 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location3_address != blank %} 
                  {{ section.settings.location3_address }}
                  {% else %}
                  737 Dunsmuir St, Vancouver, BC V7Y 1E4 
                  {% endif %}
                  </div>
         </div>

              <div class="direction-card">
        <h4>
          {% if section.settings.location4_title != blank %} 
                  {{ section.settings.location4_title }}
                  {% else %}
                  TORONTO
                  {% endif %}
        </h4>
        
          {% if section.settings.location4_subtitle != blank %} 
                  {{ section.settings.location4_subtitle }}
                  {% else %}
                  Holt Renfrew Men (Bloor Street)
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location4_url != blank %} 
                  {{ section.settings.location4_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location4_url != blank %} 
                  {{ section.settings.location4_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location4_get_direction != blank %} 
                  {{ section.settings.location4_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/HOLT+RENFREW+MEN+Toronto+Store/@43.6695806,-79.3908444,15z/data=!4m2!3m1!1s0x0:0x991d12b9d328a825?sa=X&ved=2ahUKEwij1YLwsO73AhUkJTQIHemXDCAQ_BJ6BAhlEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location4_address != blank %} 
                  {{ section.settings.location4_address }}
                  {% else %}
                  100 Bloor Street West, Toronto, ON M5S 3L3 
                  {% endif %}
                  </div>
         </div>
      
        <div class="direction-card">
        <h4>
          {% if section.settings.location5_title != blank %} 
                  {{ section.settings.location5_title }}
                  {% else %}
                  TORONTO
                  {% endif %}
        </h4>
        
          {% if section.settings.location5_subtitle != blank %} 
                  {{ section.settings.location5_subtitle }}
                  {% else %}
                  Holt Renfrew Yorkdale
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location5_url != blank %} 
                  {{ section.settings.location5_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location5_url != blank %} 
                  {{ section.settings.location5_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location5_get_direction != blank %} 
                  {{ section.settings.location5_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/HOLT+RENFREW+Yorkdale+Store/@43.7245337,-79.4515963,15z/data=!4m2!3m1!1s0x0:0xe8b42639f1e9e4cf?sa=X&ved=2ahUKEwijnZGYse73AhVYAzQIHRTBAWkQ_BJ6BAhtEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location5_address != blank %} 
                  {{ section.settings.location5_address }}
                  {% else %}
                  3401 Dufferin Street, Toronto, ON M6A 2T9 
                  {% endif %}
                  </div>
         </div>
      
       <div class="direction-card">
        <h4>
          {% if section.settings.location6_title != blank %} 
                  {{ section.settings.location6_title }}
                  {% else %}
                  MISSISSAUGA
                  {% endif %}
        </h4>
        
          {% if section.settings.location6_subtitle != blank %} 
                  {{ section.settings.location6_subtitle }}
                  {% else %}
                  Holt Renfrew Square One
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location6_url != blank %} 
                  {{ section.settings.location6_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location6_url != blank %} 
                  {{ section.settings.location6_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location6_get_direction != blank %} 
                  {{ section.settings.location6_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Holt+Renfrew/@43.5912458,-79.6433529,15z/data=!4m2!3m1!1s0x0:0xba574b1326a00fa9?sa=X&ved=2ahUKEwiZ4LG-se73AhWSLH0KHV5UDTgQ_BJ6BAhlEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location6_address != blank %} 
                  {{ section.settings.location6_address }}
                  {% else %}
                  100 City Centre Drive, Mississauga, ON L5B 2C9
                  {% endif %}
                  </div>
         </div>
      
        <div class="direction-card">
        <h4>
          {% if section.settings.location7_title != blank %} 
                  {{ section.settings.location7_title }}
                  {% else %}
                  CALGARY
                  {% endif %}
        </h4>
        
          {% if section.settings.location7_subtitle != blank %} 
                  {{ section.settings.location7_subtitle }}
                  {% else %}
                  Holt Renfrew Calgary
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location7_url != blank %} 
                  {{ section.settings.location7_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location7_url != blank %} 
                  {{ section.settings.location7_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location7_get_direction != blank %} 
                  {{ section.settings.location7_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Holt+Renfrew/@51.0463783,-114.0722839,15z/data=!4m2!3m1!1s0x0:0xafda2b6cad8d2a33?sa=X&ved=2ahUKEwjrguXZse73AhWyIzQIHQX8AsEQ_BJ6BAhxEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location7_address != blank %} 
                  {{ section.settings.location7_address }}
                  {% else %}
                  510 8th Avenue Southwest, Calgary, AB T2P 4H9 
                  {% endif %}
                  </div>
         </div>
      
        <div class="direction-card">
        <h4>
          {% if section.settings.location8_title != blank %} 
                  {{ section.settings.location8_title }}
                  {% else %}
                  MONTREAL
                  {% endif %}
        </h4>
        
          {% if section.settings.location8_subtitle != blank %} 
                  {{ section.settings.location8_subtitle }}
                  {% else %}
                  Holt Renfrew Ogilvy
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location8_url != blank %} 
                  {{ section.settings.location8_url }}
                  {% else %}
                  www.holtrenfrew.com
                  {% endif %}">{% if section.settings.location8_url != blank %} 
                  {{ section.settings.location8_url }}
                  {% else %}
                  https://www.holtrenfrew.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location8_get_direction != blank %} 
                  {{ section.settings.location8_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Holt+Renfrew+Ogilvy/@45.4978229,-73.5753032,15z/data=!4m2!3m1!1s0x0:0xe5ea5e9009dac33a?sa=X&ved=2ahUKEwjV-4H5se73AhWkAzQIHeGBASwQ_BJ6BAhzEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location8_address != blank %} 
                  {{ section.settings.location8_address }}
                  {% else %}
                  1307 Sainte-Catherine Street West, Montreal, QC H3G 1P7
                  {% endif %}
                  </div>
         </div>
      
      <div class="direction-card">
        <h4>
          {% if section.settings.location9_title != blank %} 
                  {{ section.settings.location9_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location9_subtitle != blank %} 
                  {{ section.settings.location9_subtitle }}
                  {% else %}
                  Ray Rickburn
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location9_url != blank %} 
                  {{ section.settings.location9_url }}
                  {% else %}
                  https://www.rayrickburn.com
                  {% endif %}">{% if section.settings.location9_url != blank %} 
                  {{ section.settings.location9_url }}
                  {% else %}
                  https://www.rayrickburn.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location9_get_direction != blank %} 
                  {{ section.settings.location9_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Ray+Rickburn/@49.26802,-123.1529592,15z/data=!4m5!3m4!1s0x0:0x8879c8e406da272!8m2!3d49.2680088!4d-123.1529598 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location9_address != blank %} 
                  {{ section.settings.location9_address }}
                  {% else %}
                  2100 W 4th Ave, Vancouver, BC V6K 1N6 
                  {% endif %}
                  </div>
         </div>
      
      <div class="direction-card">
        <h4>
          {% if section.settings.location10_title != blank %} 
                  {{ section.settings.location10_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location10_subtitle != blank %} 
                  {{ section.settings.location10_subtitle }}
                  {% else %}
                  Hills of Kerrisdale Vancouver
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location10_url != blank %} 
                  {{ section.settings.location10_url }}
                  {% else %}
                  https://www.hillsofkerrisdale.com
                  {% endif %}">{% if section.settings.location10_url != blank %} 
                  {{ section.settings.location10_url }}
                  {% else %}
                  https://www.hillsofkerrisdale.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location10_get_direction != blank %} 
                  {{ section.settings.location10_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Hill's+Of+Kerrisdale/@49.2348397,-123.156086,15z/data=!4m2!3m1!1s0x0:0x2cacca65945bc08c?sa=X&ved=2ahUKEwiXt977tO73AhVFGDQIHcw0Ad0Q_BJ6BAhXEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location10_address != blank %} 
                  {{ section.settings.location10_address }}
                  {% else %}
                  2125 W 41st Ave, Vancouver, BC V6M 1Z3 
                  {% endif %}
                  </div>
         </div>
      
        <div class="direction-card">
        <h4>
          {% if section.settings.location11_title != blank %} 
                  {{ section.settings.location11_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location11_subtitle != blank %} 
                  {{ section.settings.location11_subtitle }}
                  {% else %}
                  Delish General Store + Jar Bar Refillery
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location11_url != blank %} 
                  {{ section.settings.location11_url }}
                  {% else %}
                  www.delishgeneralstore.com
                  {% endif %}">{% if section.settings.location11_url != blank %} 
                  {{ section.settings.location11_url }}
                  {% else %}
                  https://www.delishgeneralstore.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location11_get_direction != blank %} 
                  {{ section.settings.location11_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/Delish+General+Store/@49.3387432,-123.102957,15z/data=!4m2!3m1!1s0x0:0x9b0678c73e70f5ab?sa=X&ved=2ahUKEwi0tqO9pe73AhWBHzQIHWWQAmwQ_BJ6BAhYEAU 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location11_address != blank %} 
                  {{ section.settings.location11_address }}
                  {% else %}
                  101 - 3246 Connaught Crescent, North Vancouver, BC V7R 0A7 
                  {% endif %}
                  </div>
           </div> 
        
          <div class="direction-card">
        <h4>
          {% if section.settings.location12_title != blank %} 
                  {{ section.settings.location12_title }}
                  {% else %}
                  VANCOUVER
                  {% endif %}
        </h4>
        
          {% if section.settings.location12_subtitle != blank %} 
                  {{ section.settings.location12_subtitle }}
                  {% else %}
                  Reyal Pilot Store [Opening Soon with Select Hours]
                  {% endif %}
    
        <a class="area-link" href="{% if section.settings.location12_url != blank %} 
                  {{ section.settings.location12_url }}
                  {% else %}
                  www.reyalperformance.com
                  {% endif %}">{% if section.settings.location12_url != blank %} 
                  {{ section.settings.location12_url }}
                  {% else %}
                  https://www.reyalperformance.com/
                  {% endif %}</a>
        <a class="get-direction-api" href="{% if section.settings.location12_get_direction != blank %} 
                  {{ section.settings.location12_get_direction }}
                  {% else %}
                  https://www.google.com/maps/place/133+W+1st+St,+North+Vancouver,+BC+V7P+1A9/@49.3123967,-123.0800979,17z/data=!3m1!4b1!4m5!3m4!1s0x548671c598bfc5af:0xd437556d2b2fd5!8m2!3d49.3123967!4d-123.0800979 
                  {% endif %}">Get direction</a>
                  <div class="address-box">
                      {% if section.settings.location12_address != blank %} 
                  {{ section.settings.location12_address }}
                  {% else %}
                  133 W 1st St, North Vancouver, BC V7M 1B1 
                  {% endif %}
                  </div>
         </div>
  </div>
</div>



{% schema %}
  {
    "name": "Brick And Mortar",
    "settings": [
    {
    "id": "section_title",
    "type":"text",
    "label": "Section Title",
    "default": "BRICK AND MORTAR"
    },
    {
    "id": "location1_title",
    "type":"text",
    "label": "Location 1 Title",
    "default": "VANCOUVER"
    },
    {
    "id": "location1_subtitle",
    "type":"richtext",
    "label": "Location 1 Subtitle",
    "default": "<p>MASC Yaletown Vancouver</p>"
    },
    {
    "id": "location1_url",
    "type":"url",
    "label": "Location 1 URL"
    },
    {
    "id": "location1_get_direction",
    "type":"url",
    "label": "Location 1 Get Direction"
    },
    {
    "id": "location1_address",
    "type":"richtext",
    "label": "Location 1 Address",
    "default":"<p>433 Davie St, Vancouver, BC V6B 2G2</p>"
    },
    {
    "id": "location2_title",
    "type":"text",
    "label": "Location 2 Title",
    "default": "VANCOUVER"
    },
    {
    "id": "location2_subtitle",
    "type":"richtext",
    "label": "Location 2 Subtitle",
    "default": "<p>TURF Kitsilano Vancouver</p>"
    },
    {
    "id": "location2_url",
    "type":"url",
    "label": "Location 2 URL"
    },
    {
    "id": "location2_get_direction",
    "type":"url",
    "label": "Location 2 Get Direction"
    },
    {
    "id": "location2_address",
    "type":"richtext",
    "label": "Location 2 Address",
    "default":"<p>2041 - 101 W 4th Avenue, Vancouver, BC V6J 1N3</p>"
    },
    {
    "id": "location3_title",
    "type":"text",
    "label": "Location 3 Title",
    "default": "COMING UP"
    },
    {
    "id": "location3_subtitle",
    "type":"richtext",
    "label": "Location 3 Subtitle",
	"default": "<p>Holt Renfrew Vancouver</p>"
    },
    {
    "id": "location3_url",
    "type":"url",
    "label": "Location 3 URL"
    },
    {
    "id": "location3_get_direction",
    "type":"url",
    "label": "Location 3 Get Direction"
    },
    {
    "id": "location3_address",
    "type":"richtext",
    "label": "Location 3 Address",
	"default":"<p>737 Dunsmuir St, Vancouver, BC V7Y 1E4</p>"
    },
    {
    "id": "location4_title",
    "type":"text",
    "label": "Location 4 Title",
    "default": "COMING UP"
    },
    {
    "id": "location4_subtitle",
    "type":"richtext",
    "label": "Location 4 Subtitle",
	"default": "<p>Holt Renfrew Men (Bloor Street)</p>"
    },
    {
    "id": "location4_url",
    "type":"url",
    "label": "Location 4 URL"
    },
    {
    "id": "location4_get_direction",
    "type":"url",
    "label": "Location 4 Get Direction"
    },
    {
    "id": "location4_address",
    "type":"richtext",
    "label": "Location 4 Address",
	"default":"<p>100 Bloor Street West, Toronto, ON M5S 3L3</p>"
    },
    {
    "id": "location5_title",
    "type":"text",
    "label": "Location 3 Title",
    "default": "COMING UP"
    },
    {
    "id": "location5_subtitle",
    "type":"richtext",
    "label": "Location 5 Subtitle",
	"default": "<p>Holt Renfrew Yorkdale</p>"
    },
    {
    "id": "location5_url",
    "type":"url",
    "label": "Location 5 URL"
    },
    {
    "id": "location5_get_direction",
    "type":"url",
    "label": "Location 5 Get Direction"
    },
    {
    "id": "location5_address",
    "type":"richtext",
    "label": "Location 5 Address",
	"default":"<p>3401 Dufferin Street, Toronto, ON M6A 2T9</p>"
    },
    {
    "id": "location6_title",
    "type":"text",
    "label": "Location 6 Title",
    "default": "COMING UP"
    },
    {
    "id": "location6_subtitle",
    "type":"richtext",
    "label": "Location 6 Subtitle",
	"default": "<p>Holt Renfrew Square One</p>"
    },
    {
    "id": "location6_url",
    "type":"url",
    "label": "Location 6 URL"
    },
    {
    "id": "location6_get_direction",
    "type":"url",
    "label": "Location 6 Get Direction"
    },
    {
    "id": "location6_address",
    "type":"richtext",
    "label": "Location 6 Address",
	"default":"<p>100 City Centre Drive, Mississauga, ON L5B 2C9</p>"
    },
    {
    "id": "location7_title",
    "type":"text",
    "label": "Location 7 Title",
    "default": "COMING UP"
    },
    {
    "id": "location7_subtitle",
    "type":"richtext",
    "label": "Location 7 Subtitle",
	"default": "<p>Holt Renfrew Calgary</p>"
    },
    {
    "id": "location7_url",
    "type":"url",
    "label": "Location 7 URL"
    },
    {
    "id": "location7_get_direction",
    "type":"url",
    "label": "Location 7 Get Direction"
    },
    {
    "id": "location7_address",
    "type":"richtext",
    "label": "Location 7 Address",
	"default":"<p>510 8th Avenue Southwest, Calgary, AB T2P 4H9</p>"
    },
    {
    "id": "location8_title",
    "type":"text",
    "label": "Location 8 Title",
    "default": "COMING UP"
    },
    {
    "id": "location8_subtitle",
    "type":"richtext",
    "label": "Location 8 Subtitle",
	"default": "<p>Holt Renfrew Ogilvy</p>"
    },
    {
    "id": "location8_url",
    "type":"url",
    "label": "Location 8 URL"
    },
    {
    "id": "location8_get_direction",
    "type":"url",
    "label": "Location 8 Get Direction"
    },
    {
    "id": "location8_address",
    "type":"richtext",
    "label": "Location 8 Address",
	"default":"<p>1307 Sainte-Catherine Street West, Montreal, QC H3G 1P7</p>"
    },
    {
    "id": "location9_title",
    "type":"text",
    "label": "Location 9 Title",
    "default": "COMING UP"
    },
    {
    "id": "location9_subtitle",
    "type":"richtext",
    "label": "Location 9 Subtitle",
	"default": "<p>Ray Rickburn</p>"
    },
    {
    "id": "location9_url",
    "type":"url",
    "label": "Location 9 URL"
    },
    {
    "id": "location9_get_direction",
    "type":"url",
    "label": "Location 9 Get Direction"
    },
    {
    "id": "location9_address",
    "type":"richtext",
    "label": "Location 9 Address",
	"default":"<p>2100 W 4th Ave, Vancouver, BC V6K 1N6</p>"
    },
    {
    "id": "location10_title",
    "type":"text",
    "label": "Location 10 Title",
    "default": "COMING UP"
    },
    {
    "id": "location10_subtitle",
    "type":"richtext",
    "label": "Location 10 Subtitle",
	"default": "<p>Hill's of Kerrisdale Vancouver</p>"
    },
    {
    "id": "location10_url",
    "type":"url",
    "label": "Location 10 URL"
    },
    {
    "id": "location10_get_direction",
    "type":"url",
    "label": "Location 10 Get Direction"
    },
    {
    "id": "location10_address",
    "type":"richtext",
    "label": "Location 10 Address",
	"default":"<p>2125 W 41st Ave, Vancouver, BC V6M 1Z3</p>"
    },
    {
    "id": "location11_title",
    "type":"text",
    "label": "Location 11 Title",
    "default": "COMING UP"
    },
    {
    "id": "location11_subtitle",
    "type":"richtext",
    "label": "Location 11 Subtitle",
	"default": "<p>Delish General Store + Jar Bar Refillery</p>"
    },
    {
    "id": "location11_url",
    "type":"url",
    "label": "Location 11 URL"
    },
    {
    "id": "location11_get_direction",
    "type":"url",
    "label": "Location 11 Get Direction"
    },
    {
    "id": "location11_address",
    "type":"richtext",
    "label": "Location 11 Address",
	"default":"<p>101 - 3246 Connaught Crescent, North Vancouver, BC V7R 0A7</br></br><i>*Supreme Body Wash refills*</i></p>"
    },
    {
    "id": "location12_title",
    "type":"text",
    "label": "Location 12 Title",
    "default": "VANCOUVER"
    },
    {
    "id": "location12_subtitle",
    "type":"richtext",
    "label": "Location 12 Subtitle",
	"default": "<p>Reyal Pilot Store [Opening Soon with Select Hours]</p>"
    },
    {
    "id": "location12_url",
    "type":"url",
    "label": "Location 12 URL"
    },
    {
    "id": "location12_get_direction",
    "type":"url",
    "label": "Location 12 Get Direction"
    },
    {
    "id": "location12_address",
    "type":"richtext",
    "label": "Location 12 Address",
	"default":"<p>133 W 1st St, North Vancouver, BC V7M 1B1</i></p>"
    }
  ],
  "presets": [
    {
      "name": "custom-text",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
