
<section class="organic-ingredients">
  <div class="small-container">
    {% if product.metafields.ingredient.section_above_title != blank %}
    <h2>{{ product.metafields.ingredient.section_above_title }}</h2>
    {% else %}
    <h2>A FIVE IN ONE HIGH-PERFORMANCE PROTEIN SUPPLEMENT</h2>
    {% endif %}
    <div class="row organic-ingredients-row">
      <div class="col-3">
        <div class="organic-img">
          <img
            src="{{
              product.metafields.ingredient.section_col1_image
                | img_url: 'master'
            }}"
            alt="organic 1"
          />
        </div>
        <h3>
          {% if product.metafields.ingredient.section_col1_text_1 != blank %}
          {{ product.metafields.ingredient.section_col1_text_1 }}
          {%else%}
          No Added Fillers
          {%endif%}
        </h3>
        <p>
          {% if product.metafields.ingredient.section_col1_text_2 != blank %}
          {{ product.metafields.ingredient.section_col1_text_2 }}
          {%else%}
          Les 3 niveaux qui composent le boîtier donnent à la montre une silhouette fine et élancée. Chaque
          {%endif%}
        </p>
      </div>
      <div class="col-3">
        <div class="organic-img">
          <img
            src="{{
              product.metafields.ingredient.section_col2_image
                | img_url: 'master'
            }}"
            alt="organic 2"
          />
        </div>
        <h3>
          {% if product.metafields.ingredient.section_col2_text_1 != blank %}
          {{ product.metafields.ingredient.section_col2_text_1 }}
          {%else%}
          100% Dairy Free
          {%endif%}
        </h3>
        <p>
          {% if product.metafields.ingredient.section_col2_text_2 != blank %}
          {{ product.metafields.ingredient.section_col2_text_2 }}
          {%else%}
          Les 3 niveaux qui composent le boîtier donnent à la montre une silhouette fine et élancée. Chaque
          {%endif%}
        </p>
      </div>
      <div class="col-3">
        <div class="organic-img">
          <img
            src="{{
              product.metafields.ingredient.section_col3_image
                | img_url: 'master'
            }}"
            alt="organic 3"
          />
        </div>
        <h3>
          {% if product.metafields.ingredient.section_col3_text_1 != blank %}
          {{ product.metafields.ingredient.section_col3_text_1 }}
          {%else%}
          Easy Mixing
          {%endif%}
        </h3>
        <p>
          {% if product.metafields.ingredient.section_col3_text_2 != blank %}
          {{ product.metafields.ingredient.section_col3_text_2 }}
          {%else%}
          Les 3 niveaux qui composent le boîtier donnent à la montre une silhouette fine et élancée. Chaque
          {%endif%}
        </p>
      </div>
    </div>
  </div>
  <div class="container-fluid full-transp-container">
    <div class="row">
      <div class="col-4 real-ingredient-text">
        <h3>
          {% if product.metafields.ingredient.section_below_left_title != blank %}
          {{ product.metafields.ingredient.section_below_left_title }}
          {%else%}
          REAL INGREDIENTS. FULL TRANSPARENCY.
          {%endif%}
        </h3>
        <p>
          {% if product.metafields.ingredient.section_below_left_description != blank %}
          {{ product.metafields.ingredient.section_below_left_description }}
          {%else%}

          {%endif%}
        </p>
        <!-- <a id="learn-more" href="#">LEARN MORE</a> -->
      </div>
      <div class="col-8 real-ingredient-img">
        <div class="row">
          <div class="col-7">
            <div class="ingredient-box-one">
              <table>
                <tr><th colspan="2">{% if product.metafields.products.total_vitamin_protein != blank %}
                {{product.metafields.products.total_vitamin_protein}}
                  {%else%}
                  (NA)
                  {%endif%}</th></tr>
                  <tr>
                    <td>{% if product.metafields.products.vitamin_protein_name1 != blank %}
                    {{product.metafields.products.vitamin_protein_name1}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value1 != blank %}
                    {{product.metafields.products.vitamin_protein_value1}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
                  <tr>
                    <td>{% if product.metafields.products.vitamin_protein_name2 != blank %}
                    {{product.metafields.products.vitamin_protein_name2}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value2 != blank %}
                    {{product.metafields.products.vitamin_protein_value2}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
                   <tr>
                    <td>{% if product.metafields.products.vitamin_protein_name3 != blank %}
                    {{product.metafields.products.vitamin_protein_name3}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value3 != blank %}
                    {{product.metafields.products.vitamin_protein_value3}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
                   <tr>
                    <td>{% if product.metafields.products.vitamin_protein_name4 != blank %}
                    {{product.metafields.products.vitamin_protein_name4}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value4 != blank %}
                    {{product.metafields.products.vitamin_protein_value4}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
                  <tr>
                    <td>{% if product.metafields.products.vitamin_protein_name5 != blank %}
                    {{product.metafields.products.vitamin_protein_name5}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value5 != blank %}
                    {{product.metafields.products.vitamin_protein_value5}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
                  <tr>
                   <td>{% if product.metafields.products.vitamin_protein_name6 != blank %}
                    {{product.metafields.products.vitamin_protein_name6}}
                    {%else%}
                    NA
                    {%endif%}</td>
                    <td>{% if product.metafields.products.vitamin_protein_value6 != blank %}
                    {{product.metafields.products.vitamin_protein_value6}}
                    {%else%}
                    NA
                    {%endif%}</td>
                  </tr>
              </table>
             
            </div>
          </div>
          <div class="col-5">
            <div class="ingredient-box">
              {% if product.metafields.ingredient.list != blank %}
              {{ product.metafields.ingredient.list }}
              {%else%}

              <table>
                <tr>
                  <th>INGREDIENTS LIST</th>
                </tr>
                <tr><td>Whey Protein Isolate</td></tr>
                <tr><td>Creatine Monohydrate</td></tr>
                <tr><td>L-Leucine</td></tr>
                <tr><td>L-Isoleucine</td></tr>
                <tr><td>L-Valine</td></tr>
                <tr><td>
                   <a data-pop="2" class="vitamin-ingredients">VIEW MORE INGREDIENTS</a>
                  </td></tr>
              </table>
             
              {%endif%}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <div data-popup="2" class="mob-ingredients-modal">
   <button data-pop class="close">&times;</button>
    <div class="additives-ingredients">
      {% if product.metafields.ingredients.description != blank %}
      {{product.metafields.ingredients.description}}
      {% else %}
      Not Available
      {% endif %}
    </div>
 </div>

 <style>
  body .ingredient-box .vitamin-ingredients {
	font-weight: 700;
	text-decoration: underline;
	font-size: 16px !important;
	cursor: pointer;
}
.mob-ingredients-modal .close {
	color: #000;
	float: right;
	font-size: 24px;
	font-weight: bold;
	background-color: transparent;
}
  .mob-ingredients-modal .close:hover{
    background-color: transparent;
  }

  [data-popup] {
  display    : none;
  position   :fixed;
  top:0%;
  /* overflow-y: scroll; */
  z-index    : 9999;
  right      : 0;
  left       : 0;
  margin     : 45px auto;  
  width      : 50%;
  min-width  : 200px;
  padding    : 15px 25px 25px;
  background : #fff;
  transition: box-shadow 2s;
  box-shadow : 0 0 0 1900px hsla(220,7%,18%,0.6),
          0 10px 30px -5px hsla(220,7%,18%,0.6);
}
  
</style>
<script>
var $popup = $("[data-popup]"),
    pHov   = false;
$popup.hover(function(){ pHov^=1; });
$(document).mousedown(function(){
  if(!pHov) $popup.slideUp(240); 
});

$("[data-pop]").click(function(){
  var n = $(this).data('pop')
  var $popup = n ? $("[data-popup='"+n+"']") : $(this).closest("[data-popup]");
  $popup.slideToggle(240);
});



  var learnMore = document.getElementById('learn-more');
  learnMore.onclick = function (e) {
    e.preventDefault();
    sizeBtn.style.display = 'block';
  };

  
$(document).ready(function(){
  $("#learn-more").click(function(){
        $(".size-modal").modal({
            backdrop: 'static',
            keyboard: false
        });
    });
  $('.close-size-modal').click(function(){
    $('.size-modal').fadeOut();
  });
});
</script>

{% schema %}
{
  "name": "Organic Ingredients",
  "settings": [
    {
      "type": "header",
      "content": "Hero Center Content"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_title",
      "label": "Center Organic Ingredient Title"
    },
    {
      "type": "image_picker",
      "id": "left_image",
      "label": "Left Image"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_title1",
      "label": "Center Organic Ingredient Title"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_desc1",
      "label": "Center Organic Ingredient Desc1"
    },
    {
      "type": "image_picker",
      "id": "center_image",
      "label": "Center Image"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_title2",
      "label": "Center Organic Ingredient Title"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_desc2",
      "label": "Center Organic Ingredient Desc2"
    },
    {
      "type": "image_picker",
      "id": "right_image",
      "label": "Right Image"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_title3",
      "label": "Center Organic Ingredient Title"
    },
    {
      "type": "text",
      "id": "center_organic_ingredient_desc3",
      "label": "Center Organic Ingredient Desc3"
    },
    {
      "type": "text",
      "id": "center_real_ingredient_title",
      "label": "Center Real Ingredient Title"
    },
    {
      "type": "text",
      "id": "center_real_ingredient_description",
      "label": "Center Real Ingredient Description"
    },
    {
      "type": "text",
      "id": "center_real_ingredient_button",
      "label": "Center Real Ingredient Button"
    },
    {
      "type": "image_picker",
      "id": "right_banner_image",
      "label": "Right Banner Image"
    }
  ]
}
{% endschema %}
