{% assign count = 0 %}
  {% for collection in collections %}
    {% unless
      collection.handle == 'all' or
      collection.handle == 'all-products' or
      collection.handle == 'frontpage'
    %}

      <div class="collection-item spacing--3 text-align--center">
        <a href="{{ collection.url }}">
          <div class="image-wrapper">
            <div class="hover"></div>
            {% if collection.image %}
              {% render "framework--image", image: collection.image %}
            {% elsif collection.products.size > 0 %}
              {%
                render "framework--image",
                image: collection.products.first.featured_media.preview_image
              %}
            {% else %}
              {%
                render "framework--placeholder",
                type: "collection",
                aspect_ratio: 1,
                placeholder_index: 1
              %}
            {% endif %}
          </div>
          <div class="caption text-align--center">
            <div class="bg"></div>
            <div class="inner">
              <div class="font--block-heading spacing--2y">
                {{ collection.title }}
              </div>
              {% assign trans_product = 'collections.product' | t %}
              {% assign trans_products = 'collections.products' | t %}
              <p class="font--accent">
                {{ collection.all_products_count }} {{ collection.all_products_count | pluralize: trans_product, trans_products }}
              </p>
            </div>
          </div>
        </a>
      </div>

      {% assign count = count | plus: 1 %}
    {% endunless %}
  {% endfor %}

{% if count == 0 %}

  {% assign collections_title = 'collections.placeholder.collection_title' | t %}

  <div class="add-first-collection columns large-6 text-align--center spacing--4y clearfix">
    <p>{{ 'collections.no_collections_feedback_html' | t }}</p>
    <a class="button" href="/admin/collections">{{ 'collections.no_collections_link' | t }}</a>
  </div>

  <div class="add-first-collection columns fw--blocks" class="clearfix">
    {% for i in (1..6) %}

      <div class="collection-item spacing--3 width--medium-6 text-align--center">

        <div class="image-wrapper">
          {%
            render "framework--placeholder",
            type: "collection",
            aspect_ratio: 1.333,
            placeholder_index: i
          %}
        </div>

        <div class="caption text-align--center">
          <div class="bg"></div>
          <div class="inner">
            <div class="font--block-heading spacing--2y">
              {{ collections_title }}
            </div>
            <p class="font--accent">{{ 'collections.placeholder.num_items' | t }}</p>
          </div>
        </div>

      </div>

    {% endfor %}
  </div>
{% endif %}
